<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    margin: 0px;
  }
</style>

<!-- <div class="split left">
  <div class="centered">
    <img src="/assets/auth0-inc-logo-vector.png" alt="Avatar auth0" />
    <h2>Auth0</h2>
    <button
      mat-raised-button
      color="primary"
      *ngIf="!auth0Result?.isAuthenticated"
      (click)="loginAuth0()"
    >
      Login
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="auth0Result?.isAuthenticated"
      (click)="logoutAuth0()"
    >
      Logout
    </button>
    <mat-card class="mt-50 left-align-text">
      <pre>{{ auth0Result?.userData | json }}</pre>
    </mat-card>
  </div>
</div> -->

<pre>{{ allAuth | json }}</pre>
<pre>{{ allUserData | json }}</pre>

<!-- <div class="split right">
  <div class="centered">
    <img src="/assets/aad.png" alt="Avatar aad" />
    <h2>Azure AD</h2>
    <button
      mat-raised-button
      color="primary"
      *ngIf="!aadResult?.isAuthenticated"
      (click)="loginAad()"
    >
      Login
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="aadResult?.isAuthenticated"
      (click)="logoutAad()"
    >
      Logout
    </button>
    <mat-card class="mt-50 left-align-text">
      <pre>{{ aadResult?.userData | json }}</pre>
    </mat-card>
  </div>
</div> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
